<p>{{ article.locale_date }} </p>

<b> Category :</b>
<nav>
<ul>
    <li>
        <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category}}</a>
    </li>
{% for subcategory in article.subcategories %}
    <li>
        <a href="{{ SITEURL }}/{{ subcategory.url }}">{{ subcategory.shortname }}</a>
    </li>
{% endfor %}
</ul>
</nav>

    <div class="span10">
        <p class="tag_heading">Tags:</p>
        <ul class="tag-list">
        {% for tag in article.tags|sort %}
            <li class="tag"><i class="icon-tags muted"></i><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a></li>
        {% endfor %}
        </ul>
    <hr>
    </div>

{% if article.toc %}
    <div class="row-fluid">
    <p><b>Contents</b></p>
        <nav>
            {{ article.toc }}
        </nav>
    <hr>
    </div>
{% endif %}

{% if article.series %}
    <br>
    <p>{{ article.series.name }} series:</p>
    <ol class="parts">
        {% for part_article in article.series.all %}
            <li {% if part_article == article %}class="active"{% endif %}>
                <a href='{{ SITEURL }}/{{ part_article.url }}'>{{ part_article.title }}</a>
            </li>
        {% endfor %}
    </ol>
{% endif %}

{% if TWITTER_USERNAME and ARTICLE_TWEET_BUTTON %}
        <div class="span10 social_widgets">
            <br />
            {% include "twitter.html" %}
        </div>
{% endif %}

{% if ARTICLE_GOOGLEPLUS_BUTTON %}
        <div class="span10">
            {% include "googleplus.html" %}
        </div>
 {% endif %}
